<h1><%= t(".title") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("simple_form.labels.airport.name") %></th>
      <th><%= t("simple_form.labels.airport.city") %></th>
      <th><%= t("simple_form.labels.airport.code") %></th>
      <th><%= t("simple_form.labels.airport.opened_on") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td data-role="airport-name"><%= airport.name %>
        <td><%= airport.city %>
        <td><%= airport.code %>
        <td data-role="opened-on-date"><%= l(airport.opened_on, format: :custom) %>
        <td><%= link_to "Show", airport %></td>
        <td><%= link_to "Edit", edit_airport_path(airport) %></td>
        <td><%= link_to "Destroy", airport, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".add_airport"), new_airport_path %>
